.page-header{
	text-align: center;
}
#contenedor{
	padding: 10px 100px 10px 100px;
}

.boton-panel{
	text-align: justify;
	height: 170px;
	margin-bottom: 40px;
	border: 1px solid #428bca;
	padding: 15px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.boton-panel:hover{
	background: rgb(210, 232, 242);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.boton-panel .titulo{
	font-size: 22px;
	background: #428bca;
	color: white;
	text-align: center;
	margin: -16px -16px 10px -16px;
	border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
	-webkit-border-radius: 30px 30px 0 0;
	line-height: 50px;

}

.boton-panel>a.link{
	color: #2a6496;
}

.boton-panel>a.link:hover{
	text-decoration: none !important;
}

.site-footer {
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	width: 100%;
	font-weight: 300;
}

.imagenes_grises{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #444444;
	color: #444444;
}

.imagenes_grises span img{
	filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
	filter: Gray(); /* IE4-8 and 9 */

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.imagenes_grises span{
	cursor: pointer;
	margin: 0 20px 0 20px;
}

.imagenes_grises span img:hover{
	background: white;
	box-shadow: 0px 0px 0px 2pt white;
	
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@media(max-width:380px){
	.boton-panel{
		font-size: 13px;
	}
	.boton-panel .titulo{
		font-size: 14px;
	}
}
@media(max-width:1400px){
	.boton-panel {
		height: 210px;
	}
}
@media(max-width:900px){
	.boton-panel {
		height: auto;
	}
}


